    <!-- Training Section -->
    <section id="training" class="content-section text-left">
        <div class="training-section">
            <div class="container content-box">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Student Pilots</h2>
                    <p>It’s important to understand we are not a dedicated flight school nor do we employ flight instructors.</p>
                    <p>There are numerous flight schools at DuPage Airport that can help you if you are ready to learn to fly today.  Most of the time, we do have a waiting list but everyone is welcome to fill out an application under the Join link.  Once you’ve joined the club, you can engage, one on one with a CFI member and discuss flight training.  The club allows (and encourages) training in all of our aircraft, but any training arrangement is between the club members.</p>
                    <p>Participation in the club is a great way to learn more about flying through interaction with other members. We are different than a flight school in that we own the planes and have a strong interest in taking care of them - we are also the ones flying the planes. We keep rates low because club volunteers do as much as possible to keep the planes in top condition. On average, the Club's rates are 20% lower than for-profit flight schools.</p>                    
                </div>
            </div>
        </div>
    </section>
